In [51]:
# importação de bibliotecas
import pandas as pd
import numpy as np
import json

In [52]:
# lendo o .json
data = pd.read_json(r"./dados.json")

In [53]:
data

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
3     4      0.0000
4     5      0.0000
5     6  26742.6612
6     7      0.0000
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
10   11      0.0000
11   12      0.0000
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
17   18      0.0000
18   19      0.0000
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
24   25      0.0000
25   26      0.0000
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [54]:
# Armazenando o menor e maior valores em variáveis
valor_minimo = data["valor"].min()
valor_maximo = round(data["valor"].max(), 2)

In [55]:
# Retornando o menor valor
print("O menor valor de faturamento em um dia deste mês foi de: " + str(valor_minimo) + " reais.")

O menor valor de faturamento em um dia deste mês foi de: 0.0 reais.

In [56]:
# Retornando o maior valor
print("O maior valor de faturamento em um dia deste mês foi de: " + str(valor_maximo) + " reais.")

O maior valor de faturamento em um dia deste mês foi de: 48924.24 reais.

In [57]:
# excluindo as linhas com valores nulos
data = data[data['valor']!=0]

In [58]:
data

    dia       valor
0     1  22174.1664
1     2  24537.6698
2     3  26139.6134
5     6  26742.6612
7     8  42889.2258
8     9  46251.1740
9    10  11191.4722
12   13   3847.4823
13   14    373.7838
14   15   2659.7563
15   16  48924.2448
16   17  18419.2614
19   20  35240.1826
20   21  43829.1667
21   22  18235.6852
22   23   4355.0662
23   24  13327.1025
26   27  25681.8318
27   28   1718.1221
28   29  13220.4950
29   30   8414.6100

In [59]:
# O mínimo valor em vendas desconsiderando valores nulos
data['valor'].min()

373.7838

In [60]:
# Armazenando a média de vendas em uma variável
media_vendas = data['valor'].mean()
media_vendas

20865.370166666664

In [61]:
dias_maior_que_media = ((data['valor'] > data['valor'].mean()) == True).sum()

In [62]:
print("A quantidade de dias em que o faturamento em vendas foi maior do que a média mensal foi de " + str(dias_maior_que_media) + " dias.")

A quantidade de dias em que o faturamento em vendas foi maior do que a média mensal foi de 10 dias.