In [23]:
# importação de bibliotecas
import pandas as pd
import numpy as np

SP – R$67.836,43
RJ – R$36.678,66
MG – R$29.229,88
ES – R$27.165,48
Outros – R$19.849,53

In [24]:
# Criando um array com os valores descritos
data = [['SP', 67836.43], ['RJ', 36678.66], ['MG', 29229.88], ['ES', 27165.48], ['Outros', 19849.53]]

In [25]:
data

[['SP', 67836.43],
 ['RJ', 36678.66],
 ['MG', 29229.88],
 ['ES', 27165.48],
 ['Outros', 19849.53]]

In [26]:
# Criando um dataframe
df = pd.DataFrame(data, columns=['Estado', 'Faturamento mensal'])

In [27]:
# Visualização do dataframe inicial
df

   Estado  Faturamento mensal
0      SP            67836.43
1      RJ            36678.66
2      MG            29229.88
3      ES            27165.48
4  Outros            19849.53

In [28]:
# Soma total de faturamentos
df['Faturamento mensal'].sum()

180759.98

In [29]:
# Criação da coluna de Representação
df['Representação(%)'] = df['Faturamento mensal']*100/df['Faturamento mensal'].sum()

In [30]:
df

   Estado  Faturamento mensal  Representação(%)
0      SP            67836.43         37.528456
1      RJ            36678.66         20.291361
2      MG            29229.88         16.170548
3      ES            27165.48         15.028481
4  Outros            19849.53         10.981153